body{
    text-align: center; 
   
}
#section1{
    z-index: 9;
    background:linear-gradient(#60ebeb 0%, #27ae60 100%)
    
}
#list{
    list-style: none; 
    background: white;
    cursor: pointer;
    top:0px;
    margin-top: 0px;
    width: 100%;
    position: fixed;
}
#link{
   display: inline;
   padding-right: 25px;
   font-size: 30px;
    font-family: sans-serif;
    padding-left: 33px;
}
h1{
   font-size: 30px; 
    
}    
img{
  width: 300px;
    
}
#div{
   background-color: #000;
    width: 400px;
    height: 10px;
    text-align: center;
    margin: 8px auto;
}
p{
    font-size: 22px;
    
}
#section2{
    background-color: aqua;
    
}
#about{
    background-color:royalblue;
    
}
#movie{
  background-color: bisque;  
    
}
#inspirition{
   background-color: azure; 
    
    
    
}
h2{
    
    display: inline;
}
#divc{
    background: firebrick;
    
    
}

